.cell: {
	display: inline-block;
	border: 1px solid black;
	width: 5px;
	height: 5px;
}
.cell.dead: {
	background-color: lightgrey;
}
.cell.alive: {
	background-color: blue;
}
.cell.newborn: {
	background-color: green;
}
.cell.volatile: {
	background-color: yellow;
}
.cell.dying: {
	background-color: red;
}